* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: 'Calibri', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    width: 100%;
    max-width: 600px;
    background: #24303c;
    padding: 30px;
    border-radius: 5px;
    color: white;
    box-shadow: 7px 13px 40px rgba(0, 0, 0, 0.5);
}

.formulario h4 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.campos {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 18px;
    border: 1px solid #1f53c5;
    font-size: 18px;
    color: white;
}

.formulario p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.formulario a {
    color: white;
    text-decoration: underline;
}

.formulario a:hover {
    color: #1f53c5;
}

.formulario .botones {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 13px;
    color: white;
    margin: 15px 0;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.formulario .botones:hover {
    background: #1a3f9a;
}
